@import "tailwindcss";
@plugin "@midudev/tailwind-animations";


/*dark color 222220 */
@theme {
  --color-primary: #f1e5e2;  /*tono de beige rosado muy claro o crema rosado*/
  --color-secondary: #3E2A26; /*tono de marrón muy claro o beige oscuro*/
  --color-text: black; 
  --color-h1: #d1d5dc; /*tono de gris claro*/
  --color-decorative: #E8CFC1; /*tono de beige rosado claro*/
  --color-hover: #D9A18A; /*tono de marrón claro*/

  --font-title: Eras Light ITC;
  --font-text: Centaur;
  --font-decorative: Freestyle Script;

}
/*-------------header pictures animation-------------*/
@keyframes header-pictures {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-pictures {
  animation: header-pictures 1s ease-out;
}

/*-------------gallery loop animation-------------*/
@keyframes gallery-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.gallery-loop {
  animation: gallery-loop 20s linear infinite;
}









  








  