@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

/*dark color 222220 */
@theme {
  --color-primary: #f1e5e2;  /*tono de beige rosado muy claro o crema rosado*/
  --color-secondary: #f7c6ce; /*tono de rosa*/
  --color-hover: #D9A18A; /*tono de marrón claro*/

}

/*-------------text styles-------------*/
  .text-h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-size: 2rem;
    color: #454545;
  }

  @media (min-width: 768px) {
    .text-h1 {
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 200;
      font-size: 3.5rem;
      color: #454545;
      transform: scaleY(1.7);
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      opacity: 0.5;
    }
  }

  .text-h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-size: 2rem;
    color: #454545;
    transform: scaleY(1.7);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    opacity: 0.5;
  }

  @media (min-width: 768px) {
    .text-h2 {
      font-size: 5rem;
    }
  }

  .text-h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #454545;
  }

  @media (min-width: 768px) {
    .text-h3 {
      font-size: 2rem;
    }
  }

  .text-paragraph {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #222220;
  }

  @media (min-width: 768px) {
    .text-paragraph {
      font-size: 1.5rem;
    }
  }

/*-------------header pictures animation-------------*/
  @keyframes header-pictures {
    0% {
      transform: translateY(500px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .header-pictures {
    animation: header-pictures 1s ease-out;
  }

/*-------------gallery loop animation-------------*/
  @keyframes gallery-loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .gallery-loop {
    animation: gallery-loop 30s linear infinite;
  }

/*-------------Expanded service card-------------*/
  .card-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    z-index: 20;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);/*for safari*/
  }

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .expanded-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity 0.4s ease-in-out;
  }







  








  